:root {
    --white: #ffffff;
    --gray:#5c616b;
    --gray2:#757880;
    --black:#1e2025;
    --red:#bb0000;
    --blue1:#daf6ff;
    --blue2:#0aafe6;
    --whiteRed:#f3b7b7;
    --whiteYellow:#f5f5b4;
    --whiteGreen:#c0f5c7;
}
*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
/* ---Body--- */
body{
    background-color: var(--black);
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
/*--Zona conteo*/
#zonaConteo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.puntDiv{
    font-size: 8rem;
    color: var(--blue2);
}
/*--- zona conteo regresivo--- */
.flip-card{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    font-size: 8rem;
    box-shadow: 0px 2px 3px 0px var(--gray2);
    border-radius: 5%;
    margin-right: 1%;
}
.top, .bottom ,.flipedBottom,.flipedTop{
    background-color: var(--gray);
    color: var(--blue2);
    height: .75em;
    line-height: 1;
    padding: .25em;
    overflow: hidden; 
    border-radius: 5%;
    position: relative;
    width: 100%;
}
.top{
    border-bottom: 1px solid var(--gray2);
}
.bottom{
    display: flex;
    align-items: self-end;
}

.flipedTop, .flipedBottom{
    position: absolute;
    width: 100%;
    animation-duration: 0.25s;
}

.flipedTop {
    transform-origin: bottom;
    animation-timing-function: ease-in;
}
.flipedBottom {
    position: absolute;
    bottom: 0;
    transform-origin: top;
    display: flex;
    align-items: self-end;
    animation-delay: 0.25s;
    animation-timing-function: ease-out;
    transform: rotateX(90deg);
    
}
@keyframes flip-top {
    100% { transform: rotateX(90deg); }
}
@keyframes flip-bottom {
    100% { transform: rotateX(0deg); }
}
.flipedTop {
    animation-name: flip-top;
}
.flipedBottom{
    animation-name: flip-bottom;
}
