:root {
    --white: #ffffff;
    --gray:#5c616b;
    --black:#1e2025;
    --red:#bb0000;
    --blue1:#daf6ff;
    --blue2:#0aafe6;
    --whiteRed:#f3b7b7;
    --whiteYellow:#f5f5b4;
    --whiteGreen:#c0f5c7;
}
*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

/* ---Body--- */
body{
    background-color: var(--black);
}

/*--- zona conteo regresivo--- */
.flip-card{
    display: inline-flex;
    flex-direction: column;
    font-size: 8rem;
    box-shadow: 0px 2px 3px 0px rgba(255, 255, 255, 0.2);
    border-radius: .1em;
}

.top,.bottom{
    background-color: var(--gray);
    color: var(--blue2);
    height: .75em;
    line-height: 1;
    padding: .25em;
    overflow: hidden; 
}
.top{
    border-top-left-radius: .1em;
    border-top-right-radius: .1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bottom{
    display: flex;
    align-items: flex-end;
    border-bottom-left-radius: .1em;
    border-bottom-right-radius: .1em;
}