:root {
    --white: #ffffff;
    --gray:#5c616b;
    --gray2:#757880;
    --black:#1e2025;
    --red:#bb0000;
    --blue1:#daf6ff;
    --blue2:#0aafe6;
    --whiteRed:#f3b7b7;
    --whiteYellow:#f5f5b4;
    --whiteGreen:#c0f5c7;
}
*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
/* ---Body--- */
body{
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
}
/* ---ScrollBar--- */
::-webkit-scrollbar {
    width: 12px; 
}
  
::-webkit-scrollbar-track {
  background: #212121; 
}

::-webkit-scrollbar-thumb {
    background: #ffffff; 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff65; 
    transition: 1s;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
/*--Zona inicio--*/
#divInicio,
#lab1,
#lab2{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divInicio{
    flex-direction: column;
    color:  var(--blue2);
    font-size: 8rem;
}

#lab1,
#lab2{
    margin-bottom: 2%;
    height: 8rem;
}

#lab2{
    font-size: 1rem;
    flex-direction: column;
    color: var(--white);
}
#lab2 button{
    padding: 0.5rem;
    border-radius: 15%;
    color: white;
    background-color: var(--gray);
}

#lab2 button:hover{
    box-shadow: 1px 1px 1px var(--white);
    cursor: pointer;
}

#divInicio input{
    color:  var(--blue2);
    background-color: var(--gray);
    font-size: 8rem;
    display: inline;
    width: 35%;
    text-align: center;
    border: 0px;
    padding: 0px;
}

#divInicio input::-webkit-inner-spin-button,
.styled-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

/*--Zona Trnasicion--*/
.transition-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

/*--Zona conteo--*/
#zonaConteo{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.puntDiv{
    font-size: 8rem;
    color: var(--blue2);
}
/*--- zona conteo regresivo--- */
.flip-card{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    font-size: 8rem;
    box-shadow: 0px 2px 3px 0px var(--gray2);
    border-radius: 5%;
    margin: 0.5%;
}
.top, .bottom ,.flipedBottom,.flipedTop{
    background-color: var(--gray);
    color: var(--blue2);
    height: .75em;
    line-height: 1;
    padding: .25em;
    overflow: hidden; 
    border-radius: 5%;
    position: relative;
    width: 100%;
}
.top{
    border-bottom: 1px solid var(--gray2);
}
.bottom{
    display: flex;
    align-items: self-end;
}

.flipedTop, .flipedBottom{
    position: absolute;
    width: 100%;
    animation-duration: 0.25s;
}

.flipedTop {
    transform-origin: bottom;
    animation-timing-function: ease-in;
}
.flipedBottom {
    position: absolute;
    bottom: 0;
    transform-origin: top;
    display: flex;
    align-items: self-end;
    animation-delay: 0.25s;
    animation-timing-function: ease-out;
    transform: rotateX(90deg);
    
}
@keyframes flip-top {
    100% { transform: rotateX(90deg); }
}
@keyframes flip-bottom {
    100% { transform: rotateX(0deg); }
}
.flipedTop {
    animation-name: flip-top;
}
.flipedBottom{
    animation-name: flip-bottom;
}

/*--Transicion cohete--*/
#transCoh{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}
#cohete{
    width: 80vh;
    height: 80vh;
    border-radius: 80%;
}

/* --historiaJS-- */
#historiaJs{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    margin: 0px;
    border: 0px;
    opacity: 0;
    animation: fadeInHistory 0.5s forwards; 
}


 @keyframes fadeInHistory {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

#historiaJs h1{
    font-size: 5rem;
    color: var(--blue2);
}
#historiaJsContent{
	max-width: 70%;
	display: flex;
	flex-direction: column;
	position: relative;
}

#historiaJsContent::after {
	content: "";
	width: 2px;
	height: 100%;
	background: var(--gray2);
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.evento {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}

.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: var(--black);
	border: 2px solid var(--gray2);
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 7px);
}

.fecha {
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(42% + 20px);
	font-size: 32px;
	font-weight: normal;
    flex-direction: column;
    text-align: justify;
    font-size: 1.5rem;
}

.fecha b, #bibliografia b{
    font-size: 2rem;
}

.foto {
	width: 42%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.foto img {
	width: 100%;
	vertical-align: top;
}

.evento:nth-child(even) {
	flex-direction: row-reverse;
}

.evento:nth-child(even) .fecha {
	justify-content: end;
}

.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}

#bibliografia{
    text-align: justify;
    color: var(--white);
    margin-bottom: 100px auto;
}